node_modules/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.vercel/
uploads/
/tmp